<nav class="menu">
  <ul class="menu__inner menu__inner--desktop">
    {{ if or $.Site.Params.showMenuItems ( eq .Site.Params.showMenuItems 0 ) }}
      {{ range first $.Site.Params.showMenuItems $.Site.Sections }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
      {{ if gt (len $.Site.Sections) $.Site.Params.showMenuItems }}
        <ul class="menu__sub-inner">
          <li class="menu__sub-inner-more-trigger">{{ $.Site.Params.MenuMore }} ▾</li>

          <ul class="menu__sub-inner-more hidden">
            {{ range last (sub (len $.Site.Sections) $.Site.Params.showMenuItems) $.Site.Sections }}
              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </ul>
      {{ end }}
    {{ else }}
      {{ range $.Site.Sections }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}

    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
    <div class="spacer"></div>
    <ul class="language-selector">
      <ul class="language-selector-current">
          <li>{{ .Language.LanguageName }} ▾</li>
      </ul>
      <ul class="language-selector__more hidden">
        {{ range $.Site.Home.AllTranslations }}
        <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
      </ul>
    </ul>
    {{ end }}
  </ul>

  <ul class="menu__inner menu__inner--mobile">
    {{ range $.Site.Sections }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (len $.Site.Home.AllTranslations) }}
    <hr />
      {{ range $.Site.Home.AllTranslations }}
        <li>
          <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>

<nav class="sidebar-nav">
	<ul class="sidebar-nav">
    {{ $currentPage := . }}
		{{ $TopSection := .FirstSection }}
		{{ $curMenu := slice "" }}
		{{ range $r := cond (eq .Params.ListByWeight true) .FirstSection.Sections.ByWeight .FirstSection.Sections.ByTitle }}
		{{/* range $r := .FirstSection.Sections.ByTitle */}}
			{{ if and $r.IsSection (not .Params.hidden) }}
				{{ $sect := $r.CurrentSection }}
				{{ if (not (in $curMenu $r)) }}
					{{ $curMenu = $curMenu | append $r }}
  	  		<li><a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a></li>
					{{ range $s := $r.Sections.ByTitle}} 
						{{ if (not (in $curMenu $s)) }}
							{{ $curMenu = $curMenu | append $s }}
							<li><a href="{{ $s.Permalink }}">{{ $s.Params.title | humanize | title }}</a></li>
						{{ end}}
					{{ end }}
				{{ end }}
				<ul>
					{{ range $p := cond (eq .Params.ListByWeight true) .Site.Pages.ByWeight .Site.Pages.ByTitle }}
						{{ if (not (in $curMenu $p)) }}
							{{ if not $p.IsSection }}
								{{ if and ($sect.IsAncestor $p) (not (eq $sect $p)) }}
									{{$curMenu = $curMenu | append $p }}
	    						<li><a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a></li>
								{{ end }}
							{{ end }}
						{{ end }}
					{{ end }}
				</ul>
			{{ end }}
		{{ end }}
		{{ range $p := cond (eq .Params.ListByWeight true) .Site.Pages.ByWeight .Site.Pages.ByTitle }}
			{{ if (not (in $curMenu $p)) }}
				{{ if not $p.IsSection }}
					{{ if and ($TopSection.IsAncestor $p) (not (eq $TopSection $p)) }}
						<li><a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a></li>
					{{ end }}
				{{ end }}
			{{ end }}
		{{ end }}
	</ul>
</nav>
